<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name ="InstallerTraceSource">
        <listeners>
          <add name="tsDemoTextListener" type ="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:\Temp\DemoTraceLog.txt" traceOutputOptions="DateTime, Callstack" />
          <add name="tsDemoEventListener" type="System.Diagnostics.EventLogTraceListener"
               initializeData="MyConfigEventLog"/>
          <!--          <add name ="tsMyConsoleListener" type="System.Diagnostics.ConsoleTraceListener"
                initializeData="false" /> -->
          <remove name="Default" />

        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>